@{
    ViewData["Title"] = Model.Title;
}
@model SmartCityKyiv.Models.Article

<main>
    <h2 class="news-header">@Model.Title</h2>
    @foreach(var paragraph in Model.Text.Split("\n", StringSplitOptions.RemoveEmptyEntries))
    {
        <p>@paragraph</p>
    }
    @if (User.IsInRole("moderator"))
    {
    <a asp-controller="News" asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn-primary">Видалити</a>
    <a asp-controller="News" asp-action="Update" asp-route-id="@Model.Id" type="button" class="btn-primary">Редагувати</a> <br><br>
    }
</main> 