<!DOCTYPE html>
<html lang="ua">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>@ViewData["Title"] - SmartCityKyiv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="border-bottom">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <h1>
                Smart City Kyiv
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <section class="center">
        @RenderBody()
    </section>

    <footer class="footer border-top">
        Created by Petselia Artem, Potapchuk Anna, Anastasia Grabovska, Polina Kuptsova and Belitskiy Oleksandr
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
