@{
    ViewData["Title"] = "Сервіси";
}

<section>
    <h2>Сервіси міста Києва</h2>
    <ul class="services">
        <li><a href="https://dmsu.gov.ua/cmu">Київська обласна військова адміністрація</a></li>
        <li><a href="https://kyivcnap.gov.ua/">Центр надання адміністративних послуг</a></li>
        <li><a href="https://dmsu.gov.ua/cmu">Центральне міжрегіональне управління ДМС у м.Києві та Київській області</a></li>
        <li><a href="https://kyiv.npu.gov.ua/konataktu.html">Головне управління Національної поліції у місті Києві</a></li>
        <li><a href="https://dsk.kyivcity.gov.ua/files/2020/8/19/e_servis.pdf">Більше е-сервісів розумного міста можна знайти тут</a></li>
    </ul>
    <br>
    <br>
</section>