@{
    ViewData["Title"] = "Інформація про війну";
}


<main>
    <img class="float" src="~/img/war.jpg">
    <h2>Інформація про війну в Києві</h2>
    <p class="war-text">З 24 лютого 2022 року на всій території України триває війна.</p>
    <p class="war-text">Нагадуємо, що мер Києва Віталій Кличко не радить зараз повертатися додому!</p>
    <p class="war-text">Сподіваємось, що ви знаходитесь в безпеці! Бережіть себе!</p><br>
    <p class="war-text"><b>Корисні посилання:</b></p>
    <ul class="info">
        <li><a href="https://alerts.in.ua/">Карта повітряних тривог</a></li>
        <li><a href="https://armyinform.com.ua/2022/02/24/spysok-ukryttiv-po-vsij-ukrayini/">Список укриттів по всій країні</a></li>
        <li><a href="https://t.me/V_Zelenskiy_official">Офіційний канал Президента України</a></li>
        <li><a href="https://t.me/bpz_ua/2064">Як відрізнити українського військовослужбовця від окупанта</a></li>
        <li><a href="https://t.me/bpz_ua/1819">Як відрізнити українську техніку від ворожої</a></li>
        <li><a href="https://t.me/bpz_ua/1894">Надання інформації про пересування окупанта</a></li>
        <li><a href="https://t.me/bpz_ua/2023">Як робити Бандера-смузі</a></li>
    </ul><br><br>
</main>