@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Карта";
}

<section class="center">
    <h2 class="map-header">Карта</h2>
    <iframe src="https://www.google.co.uk/maps/d/embed?mid=1tqVrUAYs9ZZg7GGD7VtpHGDfhpXHnRMz&ehbc=2E312F" width="640" height="480"></iframe>

    <div>
        <input type="button" value="Додати" class="btn-primary">
        <br>
        <input type="button" value="Видалити" class="btn-primary">
        <br>
        <input type="button" value="Редагувати" class="btn-primary">
    </div>
    <br>
    <br>
</section>
